//- @pugdoc
  name: Sectie (Timeline updates)
  examples:
    - 
      name: Sectie (Timeline updates)
      example: |
        include ../general/photoswipe
        -
          var people = [];
          people.push({
            avatar: "avatar-andrebaars.jpg",
            name: "Ruud Wijdeven",
            description: "Contractmanager ICT",
            link: "RuudWijdeven"
          });
          people.push({
            avatar: "avatar-mirandabeer.jpg",
            name: "Mirjam de Vries",
            description: "Bruggenexpert",
            link: "MirjamDeVries"
          });
          people.push({
            avatar: "avatar-andreploeg.jpg",
            name: "Paul Hendrixk",
            description: "Inkoper",
            link: "PaulHendrixk"
          });
          people.push({
            avatar: "avatar-timosamson.jpg",
            name: "Herman Driessen",
            description: "Weginspecteur",
            link: "HermanDriessen"
          });

          var items = [];
          items.push({ 
            type: self.VIDEO, 
            date: "2 oktober 2019", 
            title: "Ombouwen van de huidige besturingsinstallatie", 
            author: people[0], 
            text: "<p>Door de renovatie en vervanging zorgen we voor een vlotte en veilige doorstroming van het wegverkeer en de scheepvaart, ook in de toekomst.</p>",
            video: {
              source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
              captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
              audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
              text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
              poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
            }
          });
          items.push({
            type: GALLERY, 
            date: "4 september 2019", 
            title: "Aanleg van 5 rotondes op Schouwen-Duiveland", 
            author: people[1], 
            text: "<p>We renoveren de E-steiger van de Kreekraksluizen, zodat schepen ook hier veilig kunnen aanleggen. De Kreekraksluizen zijn essentieel voor de scheepvaart tussen Antwerpen-Rotterdam.</p>",
            images: [ 
              { src: "rws-zeeland.jpg", dimensions: "1440x800" }, 
              { src: "florus_noordhoek.jpg", dimensions: "1280x1920" }, 
              { src: "snelweg-bij-nacht.jpg", dimensions: "2116x1416" },
              { src: "asfalt-nacht.jpg", dimensions: "1920x1280" } ],
            related: { category: "interview", title: "'Rijkswaterstaat van start met grootste onderhoudsopgave ooit'", image: "marion-straatman.jpg", link: "#" }
          });
          items.push({
            type: PODCAST, 
            date: "6 augustus 2019",
            title: "Podcast reparatie aan de Kreekraksluizen ", 
            author: people[2], 
            text: "<p>Op deze dagen bieden wij een inhoudelijk programma zodat je een goed idee krijgt van onze organisatie en kun je bijvoorbeeld speed daten met collega’s en vragen stellen aan trainees.</p>",
            audio: { chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" },
          });
          items.push({
            type: QUOTE, 
            date: "2 juli 2019",
            title: "De reacties van een bruggenexpert", 
            author: people[3], 
            text: "<p>Op deze dagen bieden wij een inhoudelijk programma zodat je een goed idee krijgt van onze organisatie en kun je bijvoorbeeld speed daten met collega’s en vragen stellen aan trainees.</p>",
            quote: "‘We renoveren en vervangen daarom tot circa 2030 een groot aantal werken. De bruggen, sluizen, wegen en andere waterwerken worden hierdoor veiliger en duurzamer.’",
            related: { category: "interview", title: "'Rijkswaterstaat van start met grootste onderhoudsopgave ooit'", image: "marion-straatman.jpg", link: "#" }
          });
          items.push({
            type: GALLERY, 
            date: "3 juni 2019", 
            title: "De reacties van een bruggenexpert", 
            author: people[1],
            text: "<p>We werken aan de N57, N59 en A58 om het verkeer in Zeeland en op Goeree-Overflakkee (Zuid-Holland) goed te laten doorrijden:</p>",
            images: [ { src: "rws-zeeland.jpg", dimensions: "1440x800" } ]
          });
          items.push({
            type: NEWS, 
            date: "5 mei 2019", 
            title: "Wat kan je verwachten bij deze 'nieuwsfeed'?", 
            author: people[2],
            text: "<p>Rijkswaterstaat gaat in de komende jaren bruggen, sluizen, viaducten en tunnels uitgebreid renoveren en waar nodig vervangen. Daarbij wordt gekeken hoe de nieuwste technieken, zowel op de hardware als de software van de objecten, kunnen worden toegepast om de constructies en installaties zodanig te vernieuwen dat ze klaar zijn voor de toekomst.</p>",
            related: { category: "vlog", title: "Onze innovatie experts testen de nieuwste drones", image: "drone.jpg", link: "#" }
          });
        
        +section-timeline-updates("updates", items)
        +photoswipe

mixin section-timeline-updates(id, items)
  include ./_setup
  include ../../utils/srcset
  include ../../utils/todo
  include ../../icons/_icon
  include ../molecules/video
  include ../molecules/gallery
  include ../molecules/audio
  include ../molecules/quote
  include ../molecules/person

  +section(class='section--timeline-updates layout-s js-timeline-tab', id="tab-"+id)&attributes(attributes)

    .timeline-updates
      
      .timeline-updates__intro
        h3.timeline-updates__intro__title Actuele updates van medewerkers
        .timeline-updates__intro__text 
          p Met deze nieuwsfeed houden we je op de hoogte van de actuele ontwikkelingen binnen dit project.

      .timeline-updates__feed

        .timeline-updates__feed__item

          each item in items
            
            - var cls = [];

            if item.type == GALLERY 
              - cls.push("timeline-update--gallery")
            else if item.type == self.VIDEO 
              - cls.push("timeline-update--video")
            else if item.type == PODCAST
              - cls.push("timeline-update--podcast")
            else if item.type == QUOTE
              - cls.push("timeline-update--quote")

            .timeline-update(class=cls)
              
              .timeline-update__head
              
                .timeline-update__head__icon
                  if item.type == GALLERY
                    +icon#timeline-gallery
                  else if item.type == self.VIDEO 
                    +icon#timeline-video
                  else if item.type == PODCAST
                    +icon#timeline-audio
                  else if item.type == QUOTE
                    +icon#timeline-quote
                  else
                    +icon#timeline-news

                .timeline-update__head__date #{item.date}

              h2.timeline-update__title #{item.title}

              .timeline-update__author
                +person(item.author.avatar, item.author.name, item.author.description, item.author.link)

              .timeline-update__text
                | !{item.text}

              if item.type != NEWS

                .timeline-update__body
                  
                  if item.type == GALLERY
                    +gallery(item.images)
                  
                  else if item.type == self.VIDEO 
                    +video(item.video)
                  
                  else if item.type == PODCAST
                    +audio(item.audio)
                  
                  else if item.type == QUOTE
                    +quote(item.quote)

              if item.related
                .timeline-update__related
                  .update-related(class="js-click-block")
                    span.update-related__caption Bekijk ook
                    .update-related__body
                      picture.update-related__body__image
                        +srcset(item.related.image, self.imageSizes["timeline-update-related"])

                      .update-related__body__content 
                        span.update-related__body__content__caption #{item.related.category}
                        a.update-related__body__content__title(href=item.related.link) #{item.related.title}