include ../utils/todo
include ../nav/header
include ../nav/footer
include ../components/general/videobox
include ../components/general/photoswipe

block vars
  - let pageTitle = [];
  - let pagePath;
  - let pageMetaDescription = "";
  - let isHome = false;

doctype html
html(lang="nl")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")

      title #{pageTitle.join(" - ")} - werkenbij.rijkswaterstaat.nl
      meta(http-equiv="cleartype", content="on")
      meta(name="author", content="Eight Media")
      meta(name="format-detection", content="telephone=no")
      meta(name="description", content=pageMetaDescription)
      
      //- preload
      link(rel="preload", href=`${self.JS_URL}lib.v${self.version}.js`, as="script")
      link(rel="preload", href=`${self.JS_URL}app.v${self.version}.js`, as="script")
      link(rel="preload", href=`${self.CSS_URL}all.v${self.version}.css`, as="style")

      //- preload fonts
      link(rel="preload", href=`${self.FONTS_URL}ROsanswebtextregular.woff`, as="font", type="font/woff2", crossorigin="anonymous")
      link(rel="preload", href=`${self.FONTS_URL}ROsanswebtextitalic.woff`, as="font", type="font/woff2", crossorigin="anonymous")
      link(rel="preload", href=`${self.FONTS_URL}ROsanswebtextbold.woff`, as="font", type="font/woff2", crossorigin="anonymous")

      link(rel="stylesheet", href=`${self.CSS_URL}all.v${self.version}.css`)
      link(rel="stylesheet", href=`${self.CSS_URL}print.v${self.version}.css`, media="print")

      link(rel="apple-touch-icon", sizes="180x180", href=`${self.IMAGES_URL}favicons/apple-touch-icon.png`)
      link(rel="icon", type="image/png", sizes="32x32", href=`${self.IMAGES_URL}favicons/favicon-32x32.png`)
      link(rel="icon", type="image/png", sizes="16x16", href=`${self.IMAGES_URL}favicons/favicon-16x16.png`)
      meta(name="msapplication-TileColor", content="#0073bf")
      meta(name="theme-color", content="#ffffff")
      link(rel="mask-icon", href=`${self.IMAGES_URL}favicons/safari-pinned-tab.svg`, color="#000000")
      link(rel="shortcut icon", href=`${self.IMAGES_URL}favicons/favicon.ico`)
      meta(name="msapplication-config", content=`${self.IMAGES_URL}favicons/browserconfig.xml`)
      link(rel="manifest", href="./manifest.json")

      meta(property="og:image", content=`${self.IMAGES_URL}favicons/og-image.png`)
      meta(property="og:image:width", content="280")
      meta(property="og:image:height", content="280")
      meta(property="og:title", content=pageTitle.join(" - "))
      meta(property="og:description", content=pageMetaDescription)
      meta(property="og:url", content="")
      meta(property="og:type", content="website")

  body

    script
      | var xhr=new XMLHttpRequest;xhr.open("GET","/components/_symbols.html",!0),xhr.onreadystatechange=function(){4===xhr.readyState&&200===xhr.status&&document.body.insertAdjacentHTML("afterbegin",xhr.responseText)},xhr.send();

    block skiplinks
      .skiplinks
        a(href="#content") Direct naar de inhoud

    block nav
      +header(pagePath, isHome)

    .main(role="main", id="content")
      block main

      block footer
        +footer(pagePath)

    block modals
      +videobox
      +photoswipe

    block scripts
      script.
        var OLDIE_MESSAGE = "Rijkswaterstaat omarmt moderne standaarden en technieken.<br>Uw webbrowser ondersteunt deze standaarden niet. Stap daarom over op een recente browser.";
        var CARD_EVENT_CATEGORY = "Evenement";

      script(src=`${self.JS_URL}lib.v${self.version}.js`, defer)
      script(src=`${self.JS_URL}app.v${self.version}.js`, defer)

      script.
        (function(){var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true; sz.src = '//siteimproveanalytics.com/js/siteanalyze_6005621.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s); })();