//- @pugdoc
  name: Audio item

mixin audio(item)
  include ../../icons/_icon

  -
    item = Object.assign({audio: "/static/audio/audio-sample.mp3", captions: "/static/audio/audio-sample.vtt", transcript: "/static/audio/audio-sample.txt"}, item);
    item.posterImg = self.IMGIX_URL + item.posterImg + "?w=700&h=394&fit=crop";

  .audio(class="js-audio js-equal-height")
    .audio__container

      audio.video-js(class="vjs-rws-skin", controls, preload="auto", poster=item.posterImg, data-setup='{"aspectRatio":"16:9", "fluid": true, "language": "nl"}')
        source(src=item.audio, type="audio/mp4")

        if item.captions
          track(src=item.captions, kind="captions", label="Bijschriften")

    .audio__label(class="js-equal-height-resize")
      .audio__label__chapeau #{item.chapeau}
      h2.audio__label__title #{item.title}
      .audio__label__subtitle #{item.subtitle}

    .audio__buttons
      a.audio__buttons__item(href="#", class="audio__buttons__item--spotify")
        +icon#spotify
        | Luister op Spotify
      button.audio__buttons__item(class="js-audio-pane-toggle", data-pane="download") Download
      button.audio__buttons__item(class="js-audio-pane-toggle", data-pane="transcript") Uitgeschreven tekst

    .audio__panes
      .audio__panes__pane(class="audio__panes__pane--download js-audio-pane js-audio-pane-download", hidden)
        ul.audio-downloads
          li.audio-downloads__item
            a.audio-downloads__item__link(href=item.audio) audio als mp3
          li.audio-downloads__item
            a.audio-downloads__item__link(href="#") vtt bijschriften

      .audio__panes__pane(class="audio__panes__pane--transcript js-audio-pane js-audio-pane-transcript", hidden, data-transcript-txt=item.transcript)