//- @pugdoc
  name: Molecuul (Video)
  capture: none

mixin video(video, title)

  .video(class="js-video")

    .video__container
  
      video.video-js(class="vjs-rws-skin", controls, preload="auto", poster=video.poster)
        source(src=video.source, type="video/mp4")
        track(src=video.captions, kind="captions", label="Bijschriften")

      audio.vjs-audio-track(preload="auto")
        source(src=video.audio, type="audio/mp3")

      if title
        .video__container__title-wrap
          h2.video__container__title #{title}

    .video__buttons
      button.video__buttons__item(class="js-video-pane-toggle", data-pane="download") Download deze video
      button.video__buttons__item(class="js-video-pane-toggle", data-pane="transcript") Uitgeschreven tekst

    .video__panes
      .video__panes__pane(class="video__panes__pane--download js-video-pane js-video-pane-download", hidden)
        ul.video-downloads
          li.video-downloads__item
            a.video-downloads__item__link(href=video) video als mp4
          li.video-downloads__item
            a.video-downloads__item__link(href="#") vtt bijschriften

      .video__panes__pane(class="video__panes__pane--transcript js-video-pane js-video-pane-transcript", hidden, data-transcript-txt=video.text)
