//- @pugdoc
  name: Srcset generator
  capture: 0
  arguments:
    - {string} image - Afbeeldingsnaam op Imgix
    - {array} sizes - { minWidth: 1100, width: 1160, ratio: 1.75, retina: true, params: { q: 100, fit: facearea }};

mixin srcset(image, sizes, alt)
  if image
    each size in sizes

      - var params = Object.assign({}, { q: 55, fit: "crop", crop: "entropy", dpr: 1, auto: "format" }, size.params);
      - params.w = size.width

      if size.height
        - params.h = size.height
      
      //- calculate height by ratio
      if size.ratio
        - params.h = Math.round(size.width / size.ratio);

      //- sizes attribute
      - var sizesAttr = "(min-width: " + size.minWidth + "px) " + size.width + "px";

      //- generate @2x
      if size.retina !== false
        - var mediaAttr = "(min-width: " + size.minWidth + "px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: " + size.minWidth + "px) and (min-resolution: 120dpi)";
        +srcset-source(image, Object.assign({}, params, { q: 20, dpr: 2 }), sizesAttr, mediaAttr)

      //- generate @1x
      - mediaAttr = "(min-width: " + size.minWidth + "px)";
      +srcset-source(image, params, sizesAttr, mediaAttr)

  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt=alt || "")&attributes(attributes)

//- @pugdoc
  name: Srcset source

mixin srcset-source(image, params, sizesAttr, mediaAttr)
  include ./querystring

  -
    var attrs = {};

    if (image == "${image}?${imgixParams}") {
      attrs.srcset = "${image}?${imgixParams}" + "&";
      delete params.fit;
      delete params.crop;
    } else if (image.substr(0, 4) == "http") {
      attrs.srcset = image + "?";
    } else {
      attrs.srcset = self.IMGIX_URL + image + "?";
    }

  - attrs.srcset += querystring(params) + " " + (params.w * params.dpr) + "w";

  - attrs.sizes = sizesAttr;
  - attrs.media = mediaAttr;
  - attrs['data-width'] = params.w;
  - attrs['data-height'] = params.h;

  source&attributes(attrs)